.login-page-zh{
  background-image: url("@/assets/login/zhBg.png");
}
.login-page-en{
  background-image: url("@/assets/login/enBg.png");

}
.login-page {
  position: relative;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  .login-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 24px;
    .logo-left-option {
      display: flex;
      align-items: center;
      .logo-icon {
        width: 24px;
        height: 24px;
      }
      .logo-name {
        margin-left: 6px;
        width: 180px;
        height: 18px;
      }
    }
    .lan-option {
      border: 1px solid #87ea33;
      padding: 6px 15px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      .lan-icon {
        width: 16px;
        height: 16px;
      }
      .lan-txt {
        margin-left: 4px;
        margin-right: 4px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
  .btn-bg {
    height: 100px;
    position: fixed;
    bottom: 15vh;
    left: 10px;
    right: 10px;
    background-image: url("@/assets/login/btnZh.png");
    background-size:100%;
    background-repeat: no-repeat;
  }
}
.adm-picker-header{
  background: #fff !important;
  color: #87ea33 !important;
}