.home-page {
  
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("@/assets/team/nodeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .black-box {
    height: 40px;
    background: skyblue;
  }
  .header-box {
    height: 190px;
    .header-box-image {
      padding-top: 80px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 190px;
    }
  }

  .center-number-option {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .appName {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    line-height: 34px;
    text-align: center;
    font-style: normal;

    background: linear-gradient(
      32.86788150482898deg,
      #97fcff 0%,
      #ffffff 52%,
      #54eef2 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* 霓虹发光 */
    text-shadow: 0 0 0px #97fcff, 0 0 1.5px #54eef2;
  }
  .number-option {
    margin-top: 8px;
    display: inline-flex; /* 让对齐属性生效 */
    align-items: center;
    justify-content: center;
    /* 只给 左上 & 右下 圆角 */
    border: 1px solid #00d3e3;
    border-radius: 4px; /* 左上 & 左下圆角 */
    /* 必须加，让圆角对 border-image 生效 */
    .spn-1 {
      padding: 3px 12px;
      background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
      border-radius: 4px 0px 0px 4px;
      font-weight: 500;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
    }
    .spn-2 {
      padding: 3px 16px;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
    }
  }
  .number-info-option {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    .number-item {
      flex: 1;
      .number-item-top {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #0be72f;
      }
      .number-item-end {
        text-align: center;
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .line-item {
      width: 1rpx;
      height: 80px;
      background: #ffffff;
      opacity: 0.15;
    }
  }
  .progressBar-option {
    .progress-bar {
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      height: 12px;
      background: rgba(255, 255, 255, 0.12);
      border-radius: 6px;
      .progress-bar-check {
        background: linear-gradient(270deg, #f6eeb5 0%, #d0c06d 100%);
        border-radius: 6px;
        width: 30%;
        height: 100%;
      }
    }
    .progress-bar-number {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 16px;
      margin-right: 16px;
      .number-item {
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        .spn-1 {
          color: #0be72f;
        }
      }
    }
  }
 
  .teamBtn {
    box-sizing: border-box;
    margin: 24px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid #00d7f0;
    border-radius: 8px;
    .teamIcon {
      width: 24px;
      height: 24px;
    }
    .spnTxt {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
      color: #00f8f3;
    }
  }
}
//  .--adm-color-success{
//   }
.--adm-color-border {
  background: #00d7f0;
}
