  .swiperBox {
    .content {
      height: 375px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      user-select: none;
    }
    .swiperImg{
       width: 375px;
       height: 375px;
    }
    .customIndicator {
      position: absolute;
      bottom: 6px;
      right: 6px;
      background: rgba(0, 0, 0, 0.5);
      padding: 2px 12px;
      color: #ffffff;
      border-radius: 16px;
      font-size: 10px;
      user-select: none;
    }
  }
