.PayResultPage {
  height: 100vh;
  padding: 16px;
  background: #1E1E1E;
  .paySuccessBox {
    margin-top: 24px;
    background: #272727;
    border-radius: 8px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    .iconBox {
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 80px;
        height: 80px;
      }
    }
    .payTxt {
      margin-top: 12px;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: rgba(255, 255, 255, 0.75);
    }
    .payPrice {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        padding-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 24px;
        height: 24px;
      }
      .spn1 {
        margin-left: 4px;
        font-weight: bold;
        font-size: 24px;
        color: #0be72f;
      }
    }
    .payInfoBox {

      .payInfoItem {
       padding-top: 12px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        .spn1 {
          font-weight: 400;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.75);
        }
        .color1 {
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
  }
  .btnList {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      width: 165px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 25px;
      font-weight: 500;
      font-size: 16px;
    }
    .bg1 {
      color: #0be72f;
      border: 1px solid #0be72f;
    }
    .bg2 {
      background: #0be72f;
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
