.ToolsPage {
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #00e4ed;
  padding-inline:12px;
  background: rgba(0, 240, 247, 0.15);
  .toolItem {
    padding-block:16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    .toolIcon {
      width: 24px;
      height: 24px;
    }
    .toolName {
      flex: auto;
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
    }
    .rightOption {
      .toolDesc {
        margin-right: 4px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
      display: flex;
      align-items: center;
    }
  }
}
