.goods-box {
  padding-bottom: 50px;
}
.goods-name-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .goods-left-title {
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
  }
  .goods-right {
    display: flex;
    align-items: center;
    .right-txt {
      font-weight: 400;
      font-size: 14px;
      margin-right: 4px;
      color: rgba(0, 0, 0, 0.65);
    }
    .right-icon {
      width: 16px;
      height: 16px;
    }
  }
}
.loading-box {
  margin-top:120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-item-box {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .goods-item {
    margin-bottom: 12px;
    background: #fff;
    position: relative;
    width: 160px;
    border-radius: 8px;
    .goods-hint-txt {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 11;
      height: 18px;
      background: #fd880a;
      border-radius: 16rpx 0rpx 16rpx 0rpx;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-weight: 500;
      font-size: 10px;
      color: #ffffff;
      padding: 3px 4px;
    }
    .goods-img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      height: 160px;
    }
    .goods-txt {
      padding: 0 8px;
      height: 44px;
      font-weight: 400;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      display: -webkit-box; /* 关键：使用伸缩盒模型 */
      -webkit-box-orient: vertical; /* 垂直排列 */
      -webkit-line-clamp: 2; /* 限制显示2行 */
      overflow: hidden; /* 超出隐藏 */
      text-overflow: ellipsis; /* 文字溢出显示省略号 */
    }
    .goods-bottom-option {
      display: flex;
      align-items: center;
      padding: 0 8px 6px 8px;
      .usdt-icon {
        width: 18px;
        height: 18px;
      }
      .goods-price {
        margin-left: 4px;
        font-weight: bold;
        font-size: 16px;
        color: #06d427;
      }
    }
  }
}
.loading-more-option {
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
