.home-page-box {
  height: calc(100vh - 44px);
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  background: #F3F3F3;
  .header-box {
    background-image: url("@/assets/home/headerBg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 24px 16px 0px 16px;
    box-sizing: border-box;
  }
  .goods-list-box {
    background: #191919;
    background-image: url("@/assets/home/goodsBoxBg.png");
    background-repeat: no-repeat;
    background-size: 100% 300px;
    height: 200px;
    padding: 16px 16px 80px 16px;
    position: relative;
  }
}
