.donatePage {
  position: relative;
  background-image: url("@/assets/donate/donateBg.png");
  background-position: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-inline: 16px;
  padding-bottom: 40px;
}
