.classify-left-option {
  box-sizing: border-box;
  margin-top: 16px;
  .item {
    box-sizing: border-box;
    padding: 13px 26px 13px 16px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    position: relative;
    .item-check-line {
      position: absolute;
      left: 0;
      top: 12px;
      width: 4px;
      height: 20px;
      background: #0be72f;
      border-radius: 0px 50px 50px 0px;
    }
  }
  .item-check {
    font-weight: bold;
    color: #0be72f;
    background: linear-gradient(
      270deg,
      rgba(11, 231, 47, 0) 0%,
      rgba(11, 231, 47, 0.35) 100%
    );
  }
}
