.buyGoods-popup-page {
  background: linear-gradient(180deg, #434545 0%, #161616 100%);
  box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px 16px 0px 0px;
  padding: 16px;
  box-sizing: border-box;
  .goodsOption {
    display: flex;
    align-items: center;
    .leftImg {
      flex: none;
      width: 80px;
      background: skyblue;
      height: 80px;
      border-radius: 8px;
    }
    .rightOption {
      flex: auto;
      margin-left: 12px;
      .goodsTxt {
        display: flex;
        align-items: center;
        .txt {
          flex: auto;
          font-weight: 400;
          font-size: 14px;
          width: 215px;
          color: #ffffff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .priceOption {
        display: flex;
        margin-top: 12px;
        align-items: center;
        .usdtIcon {
          width: 18px;
          height: 18px;
        }
        .price {
          margin-left: 4px;
          font-weight: bold;
          font-size: 16px;
          color: #0be72f;
        }
      }
      .spceName {
        margin-top: 4px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .buyNumberBox {
    margin-top: 12px;
    .stepperClass {
      background: rgba(255, 255, 255, 0.15) !important;
      border-radius: 8px !important;
    }
  }
  .specBox {
    margin-top: 14px;
    .specItem {
      margin-bottom: 14px;
      .specName {
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.75);
      }
      .specList {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        .specTxt {
          background: rgba(255, 255, 255, 0.15);
          border-radius: 8px;
          padding: 8px 12px;
          font-weight: 400;
          font-size: 14px;
          margin-right: 8px;
          color: rgba(255, 255, 255, 0.75);
          margin-bottom: 12px;
        }
        .specCheckClass {
          background: #0be72f;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }
  }
  .tag-box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    background: rgba(253, 136, 10, 0.15);
    border-radius: 4px;
    padding: 6px 12px;
    justify-content: space-between;
    .icon {
      width: 16px;
      height: 16px;
    }
    .txt-option {
      margin-left: 4px;
      font-weight: 400;
      font-size: 12px;
      color: #fd880a;
    }
    .txt-price-option {
      font-weight: bold;
      font-size: 14px;
      color: #fd880a;
    }
  }
  .hint-txt-box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hint-txt-option {
      font-weight: 400;
      font-size: 14px;
      color: #0be72f;
    }
    .right-bold {
      font-weight: 500;
    }
    .right-option {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
      font-weight: bold;
    }
  }
  .btn-submit {
    margin-top: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(270deg, #0be72f 0%, #0be72f 100%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
  }
}
