.my-header-box {
  background-image: url("@/assets/home/headerBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 24px 16px 0px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 220px;
  .logOut-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 28px;
  }
  .deafult-user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .user-img-box {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .userImg-icon {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
      .user-type-option {
        margin-top: -12px;
        padding: 2px 6px;
        background: linear-gradient(180deg, #f6eeb5 0%, #d0c06d 100%);
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        color: #000000;
      }
    }
    .user-name-option {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .user-name {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
      .copy-img {
        margin-left: 8px;
        width: 16px;
        height: 16px;
      }
    }
    .tag-leave-option {
      margin-top: 5px;
      border-radius: 4px;
      display: inline-block;
      border: 1px solid #0be72f;
      padding: 2px 6px;
      font-weight: 500;
      font-size: 12px;
      color: #0be72f;
    }
  }
}
