.order-header-search-box {
  display: flex;
  align-items: center;
  background: #191919;
  margin: 0 12px;
  .left-icon {
    flex: none;
    width: 24px;
    height: 24px;
  }
  .right-input-option {
    flex: auto;
    margin-left: 16px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 36px;
    padding: 8px 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    .search-icon {
      flex: none;
    }
    .adm-input-element {
      font-weight: 400;
      font-size: 12px;
      margin-left: 4px;
      color: rgba(255, 255, 255, 0.65);
    }
    .input-class {
      flex: auto;
    }
  }
}
