.TaxPledgePage {
  height: 100vh;
  background: #191919;
  padding: 16px;
  overflow: scroll;
  .headerBox {
    margin-top: 16px;
    padding: 16px 12px;
    background: linear-gradient(140deg, #36c934 0%, #1ea41c 100%);
    border-radius: 8px;
    .headerTopOption {
      display: flex;
      align-items: center;
      .itemNumber {
        flex: 1;
        .number {
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;
          text-align: center;
        }
        .txt {
          text-align: center;

          margin-top: 8px;
          font-weight: 400;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.65);
        }
      }
      .line {
        width: 1px;
        height: 40px;
        background: #fff;
        opacity: 0.25;
      }
    }
    .btn-option {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn {
        width: 100%;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 18px;
      }
      .black-bg {
        background: #191919;
        color: #fff;
      }
      .white-bg {
        background: #ffffff;
        color: #000;
      }
    }
  }

  .contentBox {
    margin-top: 12px;
    background: #272727;
    border-radius: 8px;
    padding: 18px 12px;
    .margin-top-24 {
      margin-top: 24px;
    }
    .topOption {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      justify-content: space-between;
      .leftSpn {
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
      }
      .rightSpn {
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
      .whiteTxt {
        color: #fff;
      }
    }

    .input-focus {
      border: 1px solid #0be72f !important;
    }
    .input-option {
      border-radius: 8px;
      margin-top: 8px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      background: #2e2f2f;
      padding: 12px 12px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input-class {
        flex: auto;
        color: #fff !important;
      }
      .adm-input-element {
        color: #fff !important;
      }

      input:focus {
        caret-color: #0be72f;
      }

      .input-txt {
        flex: none;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
      .input-number {
        color: #fff;
        font-size: 16px;
      }
    }
    .input-no {
      border: none;
      background: rgba(255, 255, 255, 0.15);
    }

    .btnOption {
      margin-top: 24px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: linear-gradient(270deg, #0be72f 0%, #0be72f 100%);
      border-radius: 25px;
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
    }
  }

  .hintTeamListTxt {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
  }
  .teamList {
    .itemTxtRight {
      text-align: right;
    }
    box-sizing: border-box;
    margin-top: 16px;
    .teamHeaderOption {
      display: flex;
      align-items: center;
      .itemTxt {
        flex: 1;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.45);
      }
    }

    .teamListBox {
      border-radius: 8px;
      background: #272727;
      .teamItem {
        padding: 0px 16px;
        margin-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      }

      .itemTxt {
        padding-top: 12px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .itemOption {
          font-size: 13x;
          color: #ffffff;
          span {
          margin-left: 12px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.65);
          }
        }
        .btn {
          width: 150px;
          text-align: center;
          border-radius: 25px;
          font-weight: 500;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.85);
        }
        .btnOne{
          background: linear-gradient(270deg, #0be72f 0%, #0be72f 100%);

          color: #FFFFFF;
        }
         .btnTwo{
            background: #FFFFFF;
            color: #000;
        }
      }
      .txtUsdt {
        color: #0be72f;
      }
    }
  }
}
