.SearchPage {
  height: 100vh;
  background: #1d1d1d;
  padding: 16px;
  box-sizing: border-box;
  .SearchPageContent {
    .SearchGoods {
      margin-top: 20px;
      .hintTxt {
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
      }
      .inputBox {
        margin-top: 16px;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 36px;
        padding: 8px 18px;
        .searchIcon {
          flex: none;
        }
        .inputClass {
          margin-left: 8px;
          flex: auto;
        }
      }
      .tab-box {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tab-item {
          width: 23%;
          height: 36px;
          line-height: 36px;
          text-align: center;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 8px;
          font-weight: 400;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.75);
        }
        .tab-active-item {
          background: #0be72f;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.85);
        }
      }

      .goodsListBox {
        margin-top: 16px;
        .goodsItem {
          margin-bottom: 16px;
          background: #272727;
          border-radius: 8px;
          padding: 12px 8px;
          box-sizing: border-box;
          .topOption {
            display: flex;
            align-items: center;
            .goodsImgLeft {
              width: 80px;
              height: 80px;
              border-radius: 8px;
              background: skyblue;
              flex: none;
            }
            .goodsRight {
              flex: auto;
              margin-left: 12px;
              .goodsName {
                font-weight: 400;
                font-size: 14px;
                color: #ffffff;
                width: 230px;
                white-space: nowrap; /* 不换行 */
                overflow: hidden; /* 隐藏超出部分 */
                text-overflow: ellipsis; /* 显示省略号 */
              }
              .goodsTypeTxt {
                margin-top: 12px;
                font-weight: 400;
                font-size: 12px;
                color: rgba(255, 255, 255, 0.65);
              }
              .goodsPriceOption {
                margin-top: 15px;
                display: flex;
                align-items: center;
                .usdtIcon {
                  width: 18px;
                  height: 18px;
                }
                .price {
                  margin-left: 4px;
                  font-weight: bold;
                  font-size: 16px;
                  color: #0be72f;
                }
              }
            }
          }
          .endOption {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .spn {
              font-weight: 400;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.65);
            }
          }
        }
      }
    }
    .goodsList {
      height: calc(100vh - 120px);
      overflow-y: scroll;

      .goods-item-box {
        margin-top: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .goods-item {
          margin-bottom: 12px;
          background: #fff;
          position: relative;
          width: 160px;
          border-radius: 8px;
          .goods-hint-txt {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 11;
            height: 18px;
            background: #fd880a;
            border-radius: 16rpx 0rpx 16rpx 0rpx;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            font-weight: 500;
            font-size: 10px;
            color: #ffffff;
            padding: 3px 4px;
          }
          .goods-img {
            height: 160px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            background-color: skyblue;
          }
          .goods-txt {
            padding: 0 8px;
            height: 44px;
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            display: -webkit-box; /* 关键：使用伸缩盒模型 */
            -webkit-box-orient: vertical; /* 垂直排列 */
            -webkit-line-clamp: 2; /* 限制显示2行 */
            overflow: hidden; /* 超出隐藏 */
            text-overflow: ellipsis; /* 文字溢出显示省略号 */
          }
          .goods-bottom-option {
            display: flex;
            align-items: center;
            padding: 0 8px 6px 8px;
            .usdt-icon {
              width: 18px;
              height: 18px;
            }
            .goods-price {
              margin-left: 4px;
              font-weight: bold;
              font-size: 16px;
              color: #06d427;
            }
          }
        }
      }
      .loading-more-option {
        height: 44px;
        line-height: 44px;
        border-radius: 22px;
        border: 1px solid #fff;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}
