.tools-box {
  padding:20px 0;
  display: flex;
  align-items: center;
  .tools-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .item-icon {
      width: 50px;
      height: 50px;
    }
    .item-name {
      margin-top: 4px;
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
    }
  }
}
