.BuyNftPopup {
  box-sizing: border-box;
  .header-top-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .txt {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
    }
    .icon-close{
        position: absolute;
        right: 0;
    }
  }
  .price-option {
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
    color: #FDCD9D;
    text-align: center;
  }
  .get-txt-option {
    text-align: center;

    margin-top: 6px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }
  .hint-txt {
    margin-top: 42px;
    font-weight: 500;
    font-size: 14px;
   color: #FDCD9D;
    margin-bottom: 12px;
  }
  .buy-hint-option {
    margin-bottom: 8px;
    padding: 12px 6px;
    background: rgba(5, 246, 44, 0.13);
    border-radius: 8px;
    display: flex;
    align-items: center;
    .left-icon {
      flex: none;
      width: 40px;
      height: 40px;
    }
    .right-option {
    margin-left: 12px;
      flex: auto;
      .txt-1-item {
        line-height: 24px;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
      .txt-2-item {
        font-weight: 400;
        font-size: 12px;
        color: #0be72f;
      }
    }
  }

  .need-pay-option {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .need-txt-1 {
      font-weight: 500;
      font-size: 14px;
       color: #FDCD9D;
    }
    .need-txt-2 {
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .btn-option {
    margin-top: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
      background: linear-gradient( 315deg, #EE8233 0%, #FFF5C7 50%, #FDCD9D 100%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
  }
}
.ant-drawer-content {
  background: linear-gradient(180deg, #434545 0%, #161616 100%) !important;
  box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 16px 16px 0px 0px;
}
.ant-drawer-body {
  padding: 16px !important;
}
