.NodeDetailBg {
  background: #000;
  padding-bottom: 40px;
}
.NodeDetailPage {
  padding-inline: 16px;
  background-image: url("@/assets/Home/centerBg.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: 0% 0%;
  height: 100%;
  .leftIcon {
    .backIcon {
      width: 24px;
      height: 24px;
    }
    margin-top: 14px;
  }
  .hintTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    .TagBox {
      margin-left: 4px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 1px solid #00c4f7;
      .tagName {
        background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
        border-radius: 3px 0px 0px 3px;
        padding: 2px 6px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
      }
      .tagNo {
        padding: 2px 6px;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
  .hintTxts {
    text-align: center;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
  }

  .box {
    background: rgba(0, 240, 247, 0.15);
    border: 1px solid #00e5ec;
    margin-top: 12px;
    // background: rgba(0, 240, 247, 0.07);
    border-radius: 8px;
    box-sizing: border-box;
  }
  .usdtInfo {
    margin-top: 290px;
    padding: 17px 12px;

    .usdtTop {
      .title {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
      .number {
        text-align: center;
        margin-top: 12px;
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
      }
    }
    .usdtBottom {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .usdtItemBottom {
        background: rgba(0, 0, 0, 0.35);
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 12px 8px;
        width: 48%;
        .title {
          font-weight: 500;
          font-size: 14px;
          color: #ffffff;
        }
        .number {
          margin-top: 4px;
          font-weight: 400;
          font-size: 12px;
          color: #00f8f3;
        }

        .btn {
          margin-top: 12px;
          width: 100%;
          height: 32px;
          line-height: 32px;
          border-radius: 16px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btnList {
          font-weight: 500;
          font-size: 14px !important;
          color: #00f8f3;
          border: 1px solid #00f8f3;
        }
        .btnAward {
          font-size: 14px !important;

          background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
        }
      }
    }
  }

  .buy-hint-option {
    margin-top: 24px;
    margin-bottom: 8px;
    padding: 12px;
    border: 1px solid #00e5ec;
    background: rgba(0, 240, 247, 0.15);
    border-radius: 8px;
    .left-icon {
      flex: none;
      width: 40px;
      height: 40px;
    }
    .right-option {
      .txtOption {
        display: flex;
        margin-top: 8px;
      }
      .iconIcon {
        width: 16px;
        height: 16px;
      }
      .txt-1-item {
        margin-left: 4px;
        // line-height: 24px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
      }
      .txt-2-item {
        font-weight: 400;
        font-size: 12px;
        color: #0be72f;
      }
    }

    .hintOption {
      font-weight: bold;
      font-size: 16px;
      color: #00f8f3;
    }
  }
}
