.LanPopupPage {
  position: fixed;
  inset: 0;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .LanPopupContent {
    border: 1px solid #b2b6b6;
    padding-inline: 16px;
    box-sizing: border-box;
    border-radius: 18px;
    height: 269px;
    width: 280px;
    background: linear-gradient(180deg, #375150 0%, #182726 100%);
  }
  .headerTopBox {
    padding-top: 16px;
    display: flex;
    align-items: center;
    position: relative;
    .centerTxt {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
    }
    .closeIcon {
      position: absolute;
      right: 0;
      width: 22px;
      height: 22px;
    }
  }
  .contentBox {
    margin-top: 8px;
    height: 200px;
    overflow-y: auto;
    .lanOption {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      padding-block: 16px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
    .checkLan {
      color: #00f8f3;
    }
    .noCheckLan {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
