.addressPage {
  height: 100vh;
  background: #1d1d1d;
  padding: 16px;
  .addressContent {
    height: calc(100vh - 56px - 25px - 40px);
    overflow-y: scroll;
    .addressItem {
      margin-top: 12px;
      background: #272727;
      border-radius: 8px;
      padding: 16px 12px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .addressLeft {
        flex: auto;
        .addressNameTel {
          .spn1 {
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
          }
          .spn2 {
            margin-left: 8px;
            // width: 32px;
            padding: 0 6px;
            height: 19px;
            line-height: 19px;
            text-align: center;
            background: rgba(11, 231, 47, 0.2);
            border-radius: 2px;
            font-weight: 400;
            font-size: 12px;
            color: #0be72f;
          }
        }
        .addressDetail {
          margin-top: 8px;
          font-weight: 400;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.65);
        }
      }
      .addressLine {
        margin-left: 60px;
        width: 1px;
        height: 60px;
        background: rgba(255, 255, 255, 0.1);
      }
      .addressRight {
        margin-left: 16px;
        flex: none;
        display: flex;
        flex-direction: column;
        .editIcon {
          width: 20px;
          height: 20px;
        }
        .delIcon {
          margin-top: 18px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .addressBtnBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #272727;
    padding: 8px 16px 20px 16px;
    box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.35);
    .addressBtn {
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #0be72f;
      border-radius: 20px;
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
