.nodeListBox {
  box-sizing: border-box;
  margin-top: 320px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nodeItem {
    box-sizing: border-box;
    position: relative;
    padding: 12px;
    width: 48%;
    border: 1px solid #00d7f0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .trapezoid {
      position: absolute;
      top: 0;
      right: 30px;
      left: 30px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      height: 26px;
      line-height: 26px;
      color: #ffffff;

      clip-path: polygon(
        0 0,
        /* 左上 */ 100% 0,
        /* 右上 */ 90% 100%,
        /* 右下 */ 10% 100% /* 左下 */
      );
    }
    .trapezoidOne {
      background: linear-gradient(180deg, #00fbc4 0%, #00b894 100%);
    }
    .trapezoidTwo {
      background: #9c87ff;
    }
    .progressCircleItem {
      margin-top: 32px;
      .progressCircleNumber {
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
      }
      .progressCircleTxt {
        margin-top: 2px;
        font-weight: 400;
        font-size: 12px;
        color: #00f8f3;
      }
    }

    .numberItem {
      display: flex;
      align-items: center;
      width: 100%;
      .itemHintTxt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        .hintTxt {
          font-weight: 400;
          font-size: 12px;
          color: #00f8f3;
        }
        .hintOne {
          margin-top: 3px;
        }
      }
      .line {
        width: 1px;
        height: 29px;
        background: rgba(255, 255, 255, 0.15);
      }
    }
    .btn {
      border: 1px solid #fff;
      margin-left: 12px;
      margin-right: 12px;
      width: 120px;
      margin-top: 16px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      border-radius: 18px;
      span {
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .oneBtn {
      background: #00fbc6;
    }
    .twoBtn {
      background: #9c87ff;
    }
  }
}
 
svg {
  transform: rotate(-180deg) scaleY(-1);
}
